body {
  margin: 0%;
  padding: 0%;
  font-family: 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #FFF;
}

main {
  padding-top: 5rem;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 85%;
  }
}

.mt {
  margin-top: 1rem !important;
}

.mt-5 {
  margin-top: 5rem;
}

@-webkit-keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fade-in-down {
  -webkit-animation-name: fade-in-down;
          animation-name: fade-in-down;
}

.fade-in-right {
  -webkit-animation-name: fade-in-right;
          animation-name: fade-in-right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: calc(1.5rem + 2vw);
  line-height: calc(3rem + 2vw);
}

h2 {
  font-size: calc(1.4rem + 1.5vw);
  line-height: calc(2.8rem + 1.9vw);
}

h3 {
  font-size: calc(1.3rem + 1.2vw);
  line-height: calc(2.6rem + 1.6vw);
}

h4 {
  font-size: calc(1.2rem + 0.9vw);
  line-height: calc(2.4rem + 1.4vw);
}

h5 {
  font-size: calc(1.1rem + 0.6vw);
  line-height: calc(2.2rem + 1.2vw);
}

h6 {
  font-size: calc(1rem + 0.3vw);
  line-height: calc(1.7rem + 0.8vw);
}

p {
  font-size: calc(0.8rem + 0.3vw);
  line-height: calc(1rem + 0.6vw);
}

a {
  text-decoration: none;
}

@media screen and (min-width: 990px) {
  h1 {
    font-size: 2.8rem;
    line-height: 4.5rem;
  }
  h2 {
    font-size: 2.4rem;
    line-height: 4rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  h4 {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  h5 {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  h6 {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
  h2 {
    font-size: 2.6rem;
    line-height: 4.5rem;
  }
  h3 {
    font-size: 2.3rem;
    line-height: 4rem;
  }
  h4 {
    font-size: 1.9rem;
    line-height: 3.5rem;
  }
  h5 {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  h6 {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
}

.weight-300 {
  font-weight: 300;
}

.text-thin {
  font-weight: 300;
}

.weight-500 {
  font-weight: 500;
}

.text-medium {
  font-weight: 500;
}

.weight-700 {
  font-weight: 700;
}

.text-bold {
  font-weight: 700;
}

.heading {
  margin: 0 1rem;
  font-size: calc(2.5rem + 2vw);
  line-height: calc(2.7rem + 3vw);
  text-align: center;
}

.title {
  margin: 12px auto;
  font-size: calc(1rem + 1.2vw);
  line-height: calc(1.15rem + 4vw);
  text-align: center;
}

.nav-container {
  z-index: 500;
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-container.toggle-nav {
  background-color: rgba(255, 255, 255, 0.95);
}

@media screen and (max-width: 768px) {
  .nav-container {
    padding: 0.5rem 0;
  }
}

.nav-container .navbar {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-container .navbar {
    width: 85%;
  }
}

.nav-container .navbar .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .navbar .top-nav .logo svg {
  fill: #222E54;
}

.nav-container .navbar .top-nav .logo svg:hover {
  fill: #3B76EF;
}

.nav-container .navbar .top-nav .toggler {
  display: none;
}

.nav-container .navbar .top-nav .toggler svg {
  fill: #222E54;
}

@media screen and (max-width: 768px) {
  .nav-container .navbar .top-nav .toggler {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav-container .navbar .top-nav {
    width: 100%;
  }
}

.nav-container .navbar .menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .navbar .menu a {
  color: #222E54;
  margin: 0 2rem;
  font-size: calc(15px + 0.2vw);
}

.nav-container .navbar .menu a:hover, .nav-container .navbar .menu a.active {
  color: #3B76EF;
}

@media screen and (max-width: 768px) {
  .nav-container .navbar .menu a {
    display: none;
    color: #b2b2b2;
  }
  .nav-container .navbar .menu a:hover, .nav-container .navbar .menu a.active {
    color: #fff;
  }
}

.nav-container .navbar .menu .dropbtn {
  color: #222E54;
  border: none;
  font-size: calc(15px + 0.2vw);
  background-color: transparent;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .nav-container .navbar .menu .dropbtn {
    display: none;
    color: #b2b2b2;
  }
  .nav-container .navbar .menu .dropbtn:hover, .nav-container .navbar .menu .dropbtn.active {
    color: #fff;
  }
}

.nav-container .navbar .menu .dropdown {
  position: relative;
  display: inline-block;
}

.nav-container .navbar .menu .dropdown-content {
  border-radius: 0.5rem;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-container .navbar .menu .dropdown-content a {
  margin: 0%;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.nav-container .navbar .menu .dropdown:hover .dropdown-content {
  display: block;
}

.nav-container .navbar .menu .dropdown-content a:hover {
  background-color: #dddddd;
}

.nav-container .navbar .menu .dropdown-content a:first-child:hover {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.nav-container .navbar .menu .dropdown-content a:last-child:hover {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  .nav-container .navbar .menu {
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    background-color: #222E54;
    width: 100%;
  }
}

.nav-container .navbar a.login {
  background-color: #FFB051;
  border: 1px solid #FFB051;
  padding: 5px 40px;
  border-radius: 6px;
  cursor: pointer;
  font-size: calc(15px + 0.2vw);
  color: #fff;
}

.nav-container .navbar a.login:hover {
  background-color: transparent;
  color: #FFB051;
}

@media screen and (max-width: 768px) {
  .nav-container .navbar a.login {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-home {
  width: 100%;
  height: 100vh;
  background-image: url("../media/Home-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .hero-home {
    background-image: url("../media/bg-mob.png");
  }
}

.hero-text {
  padding: 15rem 0;
}

@media screen and (max-width: 768px) {
  .hero-text {
    padding: 5rem 0;
  }
}

.hero-text .quote {
  font-size: calc(0.6rem + 0.2vw);
  color: #3B76EF;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .hero-text .quote {
    margin-left: 3px;
    font-size: 12px;
  }
}

.hero-text .hero-title {
  color: #222E54;
  font-size: calc(3.5rem + 0.4vw);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .hero-text .hero-title {
    line-height: 1;
    font-size: 40px;
  }
}

.hero-text .hero-desc {
  font-size: calc(0.8rem + 0.2vw);
  color: #293866;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .hero-text .hero-desc {
    margin-left: 3px;
    margin-top: 1rem;
    font-size: 14px;
  }
}

.hero-text .hero-btn {
  max-width: 15rem;
  color: #fff;
  background-color: #3B76EF;
  font-size: 18px;
  border: 1px solid #3B76EF;
  border-radius: 8px;
  padding: 1rem;
  margin-left: 6px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hero-text .hero-btn {
    font-size: 14px;
    max-width: 10rem;
    margin-left: 3px;
    border-radius: 8px;
    padding: 0.5rem;
  }
}

.hero-text .hero-btn:hover {
  background-color: transparent;
  color: #3B76EF;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-container .card {
  max-width: 18rem;
  padding: 8px;
  border-radius: 16px;
  margin: 2rem 12px;
}

.card-container .card .card-img, .card-container .card .card-body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card-container .card .card-img img {
  width: 100%;
  height: auto;
}

.card-container .card .card-body {
  margin-top: 1.5rem;
}

.card-container .card .card-body .card-title {
  font-size: calc(18px + 0.4vw);
  text-align: center;
  line-height: 1;
}

.card-container .card .card-body .card-desc {
  font-size: calc(10px + 0.3vw);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card-container .card .card-body .card-desc {
    font-size: calc(12px + 0.3vw);
  }
}

.card-container .card:hover {
  box-shadow: 0 6px 22px #DDD;
}

@media screen and (max-width: 768px) {
  .card-container .card {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .team-desc {
  font-size: calc(12px + 0.4vw);
  line-height: 2;
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .content .team-desc {
    line-height: 1.5;
  }
}

.content img {
  width: calc(30rem + 0.4vw);
}

@media screen and (max-width: 768px) {
  .content img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.team-list .team-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team-list .team-name {
  font-size: calc(16px + 0.6vw);
  text-align: center;
}

.team-list .card-team {
  min-width: 200px;
  margin: 14px 0;
  padding: 20px;
  border-radius: 16px;
}

.team-list .card-team:hover {
  box-shadow: 0 6px 22px #DDD;
}

.team-list .card-team .img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.team-list .card-team .img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.team-list .card-team .team-card-body {
  text-align: center;
  margin-top: 1rem;
}

.team-list .card-team .team-card-body .name {
  font-size: calc(14px + 0.3vw);
  line-height: 1;
  margin-bottom: 12px;
}

.team-list .card-team .team-card-body .designation {
  font-size: calc(10px + 0.3vw);
  line-height: 1;
}

.about-text p {
  font-size: calc(12px + 0.4vw);
}

.cont-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont-content img {
  width: calc(25rem + 0.4vw);
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .cont-content img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.cont-content .cont-desc {
  font-size: calc(12px + 0.4vw);
  line-height: 2;
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .cont-content .cont-desc {
    line-height: 1.5;
  }
}

.form-container form {
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DDD;
  border-radius: 16px;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .form-container form {
    padding: 0;
    width: 100%;
    border-radius: 8px;
  }
}

.form-container form .heading {
  font-size: calc(20px + 0.4vw);
}

.form-container form input, .form-container form select {
  height: 25px;
}

.form-container form textarea {
  min-height: 25px;
}

.form-container form input[type="submit"], .form-container form button[type="submit"] {
  font-size: calc(10px + 0.4vw);
  outline: none;
  height: 30px;
  width: calc(12rem + 0.2vw);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(1rem + 0.4vw);
  margin-bottom: calc(1rem + 0.4vw);
  background-color: #FFB051;
  border: 1px solid #FFB051;
  border-radius: 5px;
  color: white;
}

.form-container form input[type="submit"]:hover, .form-container form button[type="submit"]:hover {
  background-color: transparent;
  color: #FFB051;
}

@media screen and (max-width: 768px) {
  .form-container form input[type="submit"], .form-container form button[type="submit"] {
    font-size: calc(14px + 0.4vw);
  }
}

.form-container form label {
  text-align: center;
  font-size: calc(12px + 0.4vw);
  margin-bottom: calc(4px + 0.2vw);
}

@media screen and (max-width: 768px) {
  .form-container form label {
    font-size: calc(16px + 0.4vw);
  }
}

.form-container form .label {
  text-align: center;
  font-size: calc(8px + 0.4vw);
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .form-container form .label {
    font-size: calc(12px + 0.3vw);
  }
}

.form-container form select {
  text-align: center;
  text-align-last: center;
  width: calc(16rem + 0.7vw);
  height: 40px;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .form-container form select {
    width: 51%;
    font-size: calc(14px + 0.4vw) !important;
  }
}

@media screen and (max-width: 650px) {
  .form-container form select {
    width: 71%;
  }
}

@media screen and (max-width: 500px) {
  .form-container form select {
    width: 91%;
  }
}

.form-container form input[type="date"], .form-container form input[type="time"] {
  width: calc(16rem + 0.3vw);
}

@media screen and (max-width: 768px) {
  .form-container form input[type="date"], .form-container form input[type="time"] {
    width: 50.5%;
    font-size: calc(14px + 0.4vw) !important;
  }
}

@media screen and (max-width: 650px) {
  .form-container form input[type="date"], .form-container form input[type="time"] {
    width: 70.5%;
  }
}

@media screen and (max-width: 500px) {
  .form-container form input[type="date"], .form-container form input[type="time"] {
    width: 90%;
  }
}

.form-container form input, .form-container form textarea {
  width: calc(16rem + 0.2vw);
}

@media screen and (max-width: 768px) {
  .form-container form input, .form-container form textarea {
    width: 50%;
    font-size: calc(14px + 0.4vw);
  }
}

@media screen and (max-width: 650px) {
  .form-container form input, .form-container form textarea {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .form-container form input, .form-container form textarea {
    width: 90%;
  }
}

.form-container form input, .form-container form textarea, .form-container form select {
  font-size: calc(10px + 0.4vw);
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(4px + 0.2vw);
  border-radius: 5px;
  padding: 8px;
  outline: none;
  border: 1px solid #CCC;
  color: #222E54;
}

.form-container form input::-webkit-input-placeholder, .form-container form textarea::-webkit-input-placeholder, .form-container form select::-webkit-input-placeholder {
  font-size: calc(10px + 0.4vw);
  color: #222E54;
}

.form-container form input:-ms-input-placeholder, .form-container form textarea:-ms-input-placeholder, .form-container form select:-ms-input-placeholder {
  font-size: calc(10px + 0.4vw);
  color: #222E54;
}

.form-container form input::-ms-input-placeholder, .form-container form textarea::-ms-input-placeholder, .form-container form select::-ms-input-placeholder {
  font-size: calc(10px + 0.4vw);
  color: #222E54;
}

.form-container form input::placeholder, .form-container form textarea::placeholder, .form-container form select::placeholder {
  font-size: calc(10px + 0.4vw);
  color: #222E54;
}

@media screen and (max-width: 768px) {
  .form-container form input::-webkit-input-placeholder, .form-container form textarea::-webkit-input-placeholder, .form-container form select::-webkit-input-placeholder {
    font-size: calc(14px + 0.4vw);
  }
  .form-container form input:-ms-input-placeholder, .form-container form textarea:-ms-input-placeholder, .form-container form select:-ms-input-placeholder {
    font-size: calc(14px + 0.4vw);
  }
  .form-container form input::-ms-input-placeholder, .form-container form textarea::-ms-input-placeholder, .form-container form select::-ms-input-placeholder {
    font-size: calc(14px + 0.4vw);
  }
  .form-container form input::placeholder, .form-container form textarea::placeholder, .form-container form select::placeholder {
    font-size: calc(14px + 0.4vw);
  }
}

.form-container form .redirect {
  text-align: center;
}

.form-container form .redirect a {
  color: #3B76EF;
}
/*# sourceMappingURL=main.css.map */